$main-color = #0d2485
$main-color-dark = rgba(245,193,187,0.9)
$sub-color = #5c99c6
$sub-color-dark = rgba(245, 240, 242,0.9)
$btn-text-color = #e7dedf
$title-color = #e7dedf
$hover-color = #253780
$active-color = #1a349f